! General
!urxvt*termname:	rxvt-256color
urxvt*loginShell:	true
urxvt*scrollBar:	false
urxvt*secondaryScroll:	true
urxvt*saveLines:	65535
urxvt*cursorBlink:	false
urxvt*urgentOnBell:	true

! Extensions
urxvt*perl-lib:		/usr/lib/urxvt/perl/
urxvt*perl-ext-common:	default,matcher,searchable-scrollback
urxvt*urlLauncher:	/usr/bin/chromium
urxvt*matcher.button:	1
! - catch ugly URLs
urxvt*cutchars:		"`()'*\"<>[]{|}"	

! Apperance
! - cursor
urxvt*cursorColor:	#DCDCCC

! - color scheme
urxvt.background:	#000000
urxvt.foreground:	#EBEBFF
! black + red
urxvt*color0:		#000000
urxvt*color1:		#e01010
! green + yellow
urxvt*color2:		#00AA00
urxvt*color3:		#FFFF00
! blue + purple
urxvt*color4:		#112037
urxvt*color5:		#A020F0
! cyan + white
urxvt*color6:		#5B5BC7
urxvt*color7:		#fefefe
! bright-black + bright-red
urxvt*color8:		#6a6a6a
urxvt*color9:		#FF5555
! bright-green + bright-yellow
urxvt*color10:		#90EE90
urxvt*color11:		#ffff2f
! bright-blue + bright-purple
urxvt*color12:		#5B5BC7
urxvt*color13:		#e625ba
! bright-cyan + bright white
urxvt*color14:		#7D7DFB
urxvt*color15:		#ffffff

